<h1>Edit Discussion</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.discussion_path(@conn, :update, @discussion)) %>

<span><%= link "Back", to: Routes.discussion_path(@conn, :index) %></span>
