<h1>Show Discussion</h1>

<ul>

  <li>
    <strong>Present:</strong>
    <%= @discussion.present %>
  </li>

  <li>
    <strong>Absent:</strong>
    <%= @discussion.absent %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.discussion_path(@conn, :edit, @discussion) %></span>
<span><%= link "Back", to: Routes.discussion_path(@conn, :index) %></span>
