<a href="/meetings/<%= @discussion.meeting.id %>">Meeting</a>
<p><%= @discussion.meeting.date %></p>
<%# <br>
<br> %>


<ul>

<%= if @discussion.votes do %>
  <li>
    <strong>Votes:</strong>
    <%= @discussion.votes %>
  </li>
<% end %>

  

  <p><%= @discussion.body %></p>


</ul>

