
<ul>

<%= if @meeting.date do %>

  <li>
    <strong>Date:</strong>
    <%= @meeting.date %>
  </li>
<% end %>

<%= if @meeting.summary_url do %>

  <li>
    <strong>Summary url:</strong>
    <%= @meeting.summary_url %>
  </li>
<% end %>

<%= if @meeting.detail_url do %>

  <li>
    <strong>Detail url:</strong>
    <%= @meeting.detail_url %>
  </li>
<% end %>

<%= if @meeting.body do %>

  <li>
    <strong>Body:</strong>
    <%= @meeting.body %>
  </li>
<% end %>


</ul>

