

<h3>Current Issues</h3>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for issue <- @issues do %>
    <tr>
    <td><a href="/issues/<%= issue.id %>"><%= issue.identifier %></a></td>
    <td>
      <%= if issue.status != "UNKNOWN" do %>
       <span class="badge badge-secondary">
        <%= issue.status %>
       </span>
      <% end %>
    </td>
    </tr>
<% end %>
  </tbody>
</table>

