<section>
  <h3>welcome to the home page</h3>
  <p>here be found insights to the city council meetings</p>
</section>

<h1>Current Issues</h1>

<table>
  <thead>
    <tr>
    <th>Identifier</th>
      <th>Description</th>
      


      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for issue <- @issues do %>
    <tr>
    <td><a href="/issues/<%= issue.id %>"><%= issue.identifier %></a></td>
      <td><%= issue.description %></td>
      
    </tr>
<% end %>
  </tbody>
</table>

